
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth; } }
  
  body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  
  [tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important; }
  
  hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25; }
  
  hr:not([size]) {
    height: 1px; }
  
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2; }
  
  h1, .h1 {
    font-size: calc(1.375rem + 1.5vw); }
    @media (min-width: 1200px) {
      h1, .h1 {
        font-size: 2.5rem; } }
  
  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw); }
    @media (min-width: 1200px) {
      h2, .h2 {
        font-size: 2rem; } }
  
  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw); }
    @media (min-width: 1200px) {
      h3, .h3 {
        font-size: 1.75rem; } }
  
  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw); }
    @media (min-width: 1200px) {
      h4, .h4 {
        font-size: 1.5rem; } }
  
  h5, .h5 {
    font-size: 1.25rem; }
  
  h6, .h6 {
    font-size: 1rem; }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem; }
  
  address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit; }
  
  ol,
  ul {
    padding-left: 2rem; }
  
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 1rem; }
  
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0; }
  
  dt {
    font-weight: 700; }
  
  blockquote {
    margin: 0 0 1rem; }
  
  b,
  strong {
    font-weight: bolder; }
  
  small, .small {
    font-size: 0.875em; }
  
  sub,
  sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline; }
  
  sub {
    bottom: -.25em; }
  
  sup {
    top: -.5em; }
  
  a {
    color: #037ef3;
    text-decoration: underline; }
    a:hover {
      color: #0265c2; }
  
  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none; }
  
  pre,
  code {
    font-family: var(--bs-font-monospace);
    font-size: 1em;
    direction: ltr /* rtl:ignore */;
    unicode-bidi: bidi-override; }
  
  pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: 0.875em; }
    pre code {
      font-size: inherit;
      color: inherit;
      word-break: normal; }
  
  code {
    font-size: 0.875em;
    color: #d63384;
    word-wrap: break-word; }
    a > code {
      color: inherit; }
  
  img {
    vertical-align: middle; }
  
  table {
    caption-side: bottom;
    border-collapse: collapse; }
  
  th {
    text-align: inherit;
    text-align: -webkit-match-parent; }
  
  
  td,
  th {
    border-color: inherit;
    border-style: solid;
    border-width: 0; }
  
  label {
    display: inline-block; }
  
  button {
    border-radius: 0; }
  
  button:focus {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 5px; }
  
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; }
  
  button,
  select {
    text-transform: none; }
  
  [role="button"] {
    cursor: pointer; }
  
  select {
    word-wrap: normal; }
  
  [list]::-webkit-calendar-picker-indicator {
    display: none; }
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; }
    button:not(:disabled),
    [type="button"]:not(:disabled),
    [type="reset"]:not(:disabled),
    [type="submit"]:not(:disabled) {
      cursor: pointer; }
  
  textarea {
    resize: vertical; }
  
  
  iframe {
    border: 0; }
  
  progress {
    vertical-align: baseline; }
  
  [hidden] {
    display: none !important; }
  
  .list-unstyled {
    padding-left: 0;
    list-style: none; }
  
  .blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem; }
    .blockquote > :last-child {
      margin-bottom: 0; }
  
  .img-fluid {
    max-width: 100%;
    height: auto; }
  
  .container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto; }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px; } }
  
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2); }
    .row > * {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: calc(var(--bs-gutter-x) / 2);
      padding-left: calc(var(--bs-gutter-x) / 2);
      margin-top: var(--bs-gutter-y); }
  
  .col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%; }
  
  .col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%; }
  
  .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%; }
  
  .col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66667%; }
  
  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%; }
  
  .g-0 {
    --bs-gutter-x: 0; }
  
  .g-0 {
    --bs-gutter-y: 0; }
  
  .g-1 {
    --bs-gutter-x: 0.25rem; }
  
  .g-1 {
    --bs-gutter-y: 0.25rem; }
  
  .g-2 {
    --bs-gutter-x: 0.5rem; }
  
  .g-2 {
    --bs-gutter-y: 0.5rem; }
  
  .g-5 {
    --bs-gutter-x: 3rem; }
  
  .g-5 {
    --bs-gutter-y: 3rem; }
  
  @media (min-width: 576px) {
    .col-sm-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 50%; } }
  
  @media (min-width: 768px) {
    .col-md-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 33.33333%; }
    .col-md-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 50%; }
    .col-md-7 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 58.33333%; } }
  
  @media (min-width: 992px) {
    .col-lg-2 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 16.66667%; }
    .col-lg-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 25%; }
    .col-lg-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 33.33333%; }
    .col-lg-5 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 41.66667%; }
    .col-lg-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 50%; }
    .col-lg-7 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 58.33333%; }
    .col-lg-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 100%; } }
  
  .table {
     width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6; }
    .table > :not(caption) > * > * {
      padding: 0.5rem 0.5rem;
       border-bottom-width: 1px; }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    }
   
  textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px); }
    @media (prefers-reduced-motion: reduce) {
      .btn {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    .btn:hover {
      color: #47a3ff; }
     .btn:focus {
      outline: 0;
      -webkit-box-shadow: 0 0 0 0.25rem rgba(3, 126, 243, 0.25);
      box-shadow: 0 0 0 0.25rem rgba(3, 126, 243, 0.25); }
    .btn:disabled, .btn.disabled {
      pointer-events: none;
      opacity: 0.65; }
  
  .btn-primary {
    color: #000;
    background-color: #037ef3;
    border-color: #037ef3; }
    .btn-primary:hover {
      color: #000;
      background-color: #2991f5;
      border-color: #1c8bf4; }
     .btn-primary:focus {
      color: #000;
      background-color: #2991f5;
      border-color: #1c8bf4;
      -webkit-box-shadow: 0 0 0 0.25rem rgba(3, 107, 207, 0.5);
      box-shadow: 0 0 0 0.25rem rgba(3, 107, 207, 0.5); }
     .btn-primary:active, .btn-primary.active,
    .show > .btn-primary.dropdown-toggle {
      color: #000;
      background-color: #3598f5;
      border-color: #1c8bf4; }
       .btn-primary:active:focus, .btn-primary.active:focus,
      .show > .btn-primary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.25rem rgba(3, 107, 207, 0.5);
        box-shadow: 0 0 0 0.25rem rgba(3, 107, 207, 0.5); }
    .btn-primary:disabled, .btn-primary.disabled {
      color: #000;
      background-color: #037ef3;
      border-color: #037ef3; }
  
  .fade {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear; }
    .fade:not(.show) {
      opacity: 0; }
  
  .collapse:not(.show) {
    display: none; }
  
  .collapsing {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease; }

  
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;}
    .nav-link.disabled {
      color: #6c757d;
      pointer-events: none;
      cursor: default; }
  
  .nav-pills .nav-link {
    border-radius: 0.25rem; }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #037ef3; }
  
  .tab-content > .tab-pane {
    display: none; }
  
  .tab-content > .active {
    display: block; }
  
  .navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .navbar > .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: inherit;
      flex-wrap: inherit;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
    .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0; }
    .navbar-nav .dropdown-menu {
      position: static; }
  
  .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem; }
  
  
  .progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem; }
  
  .list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem; }
  
  .list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125); }
    .list-group-item:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit; }
    .list-group-item:last-child {
      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit; }
    .list-group-item.disabled, .list-group-item:disabled {
      color: #6c757d;
      pointer-events: none;
      background-color: #fff; }
    .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: #037ef3;
      border-color: #037ef3; }
    .list-group-item + .list-group-item {
      border-top-width: 0; }
      .list-group-item + .list-group-item.active {
        margin-top: -1px;
        border-top-width: 1px; }
  
  .toast {
    width: 350px;
    max-width: 100%;
    font-size: 0.875rem;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem; }
    .toast:not(.showing):not(.show) {
      opacity: 0; }
    .toast.hide {
      display: none; }
  
  .modal-open {
    overflow: hidden; }
    .modal-open .modal {
      overflow-x: hidden;
      overflow-y: auto; }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0; }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none; }
  
  
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030; }
  
  .fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030; }
  
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020; }
  
  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important; }
  
  .float-start {
    float: left !important; }
  
  .float-end {
    float: right !important; }
  
  .d-inline-block {
    display: inline-block !important; }
  
  .d-block {
    display: block !important; }
  
  .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  
  .d-none {
    display: none !important; }
  
  .border {
    border: 1px solid #dee2e6 !important; }
  
  .h-100 {
    height: 100% !important; }
  
  .flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  
  .justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  
  .justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
  
  .align-items-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important; }
  
  .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important; }
  
  .align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important; }
  
  .align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important; }
  
  .m-0 {
    margin: 0 !important; }
  
  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important; }
  
  .mt-1 {
    margin-top: 0.25rem !important; }
  
  .mt-5 {
    margin-top: 3rem !important; }
  
  .me-3 {
    margin-right: 1rem !important; }
  
  .me-auto {
    margin-right: auto !important; }
  
  .mb-3 {
    margin-bottom: 1rem !important; }
  
  .mb-4 {
    margin-bottom: 1.5rem !important; }
  
  .mb-5 {
    margin-bottom: 3rem !important; }
  
  .ms-auto {
    margin-left: auto !important; }
  
  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  
  .py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; }
  
  .pt-0 {
    padding-top: 0 !important; }
  
  .fs-1 {
    font-size: calc(1.375rem + 1.5vw) !important; }
  
  .fs-5 {
    font-size: 1.25rem !important; }
  
  .fs-6 {
    font-size: 1rem !important; }
  
  .text-start {
    text-align: left !important; }
  
  .text-center {
    text-align: center !important; }
  
  .text-danger {
    color: #dc3545 !important; }
  
  .text-white {
    color: #fff !important; }
  
  .text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important; }
  
  /* rtl:begin:remove */
  
  /* rtl:end:remove */
  
  
  .rounded {
    border-radius: 0.25rem !important; }
  
  .visible {
    visibility: visible !important; }
  
  @media (min-width: 768px) {
    .d-md-flex {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; } }
  
  @media (min-width: 992px) {
    .d-lg-inline-block {
      display: inline-block !important; }
    .d-lg-none {
      display: none !important; }
    .order-lg-2 {
      -webkit-box-ordinal-group: 3 !important;
      -ms-flex-order: 2 !important;
      order: 2 !important; }
    .mb-lg-0 {
      margin-bottom: 0 !important; }
    .ps-lg-5 {
      padding-left: 3rem !important; } }
  
  @media (min-width: 1200px) {
    .fs-1 {
      font-size: 2.5rem !important; } }
  
  .call-us {
    color: #fff; }
    .call-us [class^="icon-"] {
      color: #fff;
      width: 40px;
      height: 40px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
      flex: 0 0 40px;
      line-height: 36px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      text-align: center;
      border: 2px solid transparent;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .call-us:hover {
      color: #fff; }
      .call-us:hover [class^="icon-"] {
        background: transparent;
        border: 2px solid #fff; }
  
  .logo {
    font-size: 24px;
    color: #fff;
    font-weight: 700; }
    .logo:hover {
      color: #fff; }
  
  .site-nav {
    position: absolute;
    top: 40px;
    z-index: 9;
    width: 100%; }
  
  .site-nav {
    padding-bottom: 20px; }
    .site-nav h1, .site-nav .h1 {
      margin: 0;
      padding: 0;
      font-size: 24px; }
    .site-nav .site-navigation .site-menu {
      display: inline-block;
      margin-bottom: 0; }
      .site-nav .site-navigation .site-menu > li {
        display: inline-block; }
        .site-nav .site-navigation .site-menu > li > a {
          font-size: 14px;
          padding: 10px 10px;
          display: inline-block;
          text-decoration: none !important;
          color: rgba(255, 255, 255, 0.7); }
          .site-nav .site-navigation .site-menu > li > a:hover {
            color: #fff; }
        .site-nav .site-navigation .site-menu > li.active > a {
          color: #fff; }
      .site-nav .site-navigation .site-menu .has-children {
        position: relative; }
        .site-nav .site-navigation .site-menu .has-children > a {
          position: relative;
          padding-right: 20px; }
          .site-nav .site-navigation .site-menu .has-children > a:before {
            position: absolute;
            content: "\e313";
            font-size: 14px;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: 'icomoon'; }
         .site-nav .site-navigation .site-menu .has-children .dropdown {
          visibility: hidden;
          opacity: 0;
          top: 100%;
          z-index: 999;
          position: absolute;
          text-align: left;
          -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          padding: 20px 0;
          margin-top: 20px;
          margin-left: 0px;
          background: #fff;
          -webkit-transition: 0.2s 0s;
          -o-transition: 0.2s 0s;
          transition: 0.2s 0s;
          border-radius: 7px; }
          .site-nav .site-navigation .site-menu .has-children .dropdown a {
            font-size: 14px;
            text-transform: none;
            letter-spacing: normal;
            -webkit-transition: 0s all;
            -o-transition: 0s all;
            transition: 0s all;
            color: #000; }
          .site-nav .site-navigation .site-menu .has-children .dropdown .active a {
            color: #037ef3 !important; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li {
            list-style: none;
            padding: 0;
            margin: 0;
            min-width: 180px; } */
  /* /////////////////////////////////////////////////////////////end */
  .burger:focus {
    outline: none; }
  
  html, body {
    overflow-x: hidden; }
  
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #1b1c1e;
    color: #fff; }
  
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .logo {
    font-family: "Playfair Display", serif; }
  
  a, .btn {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none; }
  
  .btn {
    padding: 15px 30px;
    border-radius: 4px;
    border-color: none;
    font-size: 14px; }
    .btn:hover {
      -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); }
    .btn.btn-primary {
      color: #fff;
      background-color: #037ef3; }
    .btn.btn-outline-white {
      border-color: #fff;
      color: #fff; }
      .btn.btn-outline-white:hover {
        background-color: #fff;
        color: #000; }
    .btn.has-arrow {
      padding-right: 50px;
      position: relative; }
      .btn.has-arrow [class^="icon-"] {
        position: absolute;
        right: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  
  .form-control {
    height: 54px;
    background-color: rgba(255, 255, 255, 0.02);
    border-color: rgba(255, 255, 255, 0.02);
    color: #fff; }
    
    .form-control:active, .form-control:focus {
      color: #fff;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: rgba(255, 255, 255, 0.05);
      border-color: rgba(255, 255, 255, 0.05); }

    .form-control::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .form-control::-moz-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .form-control:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .form-control:-moz-placeholder {
      color: rgba(255, 255, 255, 0.7); }
  
  textarea {
    height: auto !important; }
  
  #overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7100;
    background: #1b1c1e;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  
  .loader {
    z-index: 7700;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  
  .hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .hero, .hero > .container > .row {
      height: 100vh;
      min-height: 780px; }
    .hero.overlay {
      position: relative; }
      .hero.overlay:before {
        background-color: rgba(0, 0, 0, 0.4);
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1; }
    .hero > .container {
      position: relative;
      z-index: 2; }
    .hero .heading {
      color: #fff;
      font-size: 50px;
      font-weight: 700; }
  
  .section {
    padding-top: 7rem;
    padding-bottom: 7rem; }
    .section .heading {
      font-size: 45px;
      font-weight: 700; }
     
  
  .sec-about-me .bg-1 {
    position: relative; }
    .sec-about-me .bg-1:after {
      position: absolute;
      content: "";
      background-color: #0f0f11;
      height: 300px;
      bottom: -50px;
      width: 300%;
      margin-left: -100px;
      z-index: -1; }
  
  .sec-about-me .img-wrap {
    position: relative;
    margin-top: -150px; }
    
  
  .media-2 {
    background-color: #0f0f11;
    padding: 20px;
    padding-bottom: 80px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative; }
    .media-2 div:nth-of-type(1) {
      margin-right: 10px;
      opacity: .3;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
      flex: 0 0 30px;
      color: #fff; }
    .media-2 div:nth-of-type(2) h3, .media-2 div:nth-of-type(2) .h3 {
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: 16px; }
    .media-2 div:nth-of-type(2) [class^="icon-"] {
      position: absolute;
      left: 20px;
      bottom: 20px;
      font-size: 18px;
      color: #fff;
      opacity: .3;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .media-2:hover, .media-2:focus {
      background-color: #037ef3; }
      .media-2:hover div:nth-of-type(2) [class^="icon-"], .media-2:focus div:nth-of-type(2) [class^="icon-"] {
        opacity: 1; }
  
  .custom-nav-slider a {
    color: #fff;
    opacity: .5; }
    .custom-nav-slider a:hover, .custom-nav-slider a.active {
      opacity: 1; }
  
  .sec-list ul li {
    margin-bottom: 10px;
    font-size: 14px;
    padding-left: 30px;
    position: relative;
    font-weight: 300; }
    .sec-list ul li:before {
      left: 0;
      top: -.2rem;
      font-size: 18px;
      position: absolute;
      content: "\e5ca";
      font-family: 'icomoon'; }
    .sec-list ul li a {
      color: rgba(255, 255, 255, 0.4);
      text-decoration: underline; }
      .sec-list ul li a:hover {
        color: #fff;
        text-decoration: none; }
  
  .sec-list .box {
    background-color: rgba(255, 255, 255, 0.02);
    padding: 40px; }
  .quick-contact-item .text {
    font-size: 20px; }
  
  textarea {
    height: auto !important; }
  
  .site-footer {
    font-size: 14px;
    padding: 70px 0; }
    .site-footer a {
      color: #777;
      position: relative;
      display: inline-block; }
      .site-footer a:before {
        position: absolute;
        left: 0;
        right: 0;
        content: "";
        background: rgba(3, 126, 243, 0.1);
        height: 20%;
        width: 100%;
        bottom: 0;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-footer a:hover {
        color: #fff; }
        .site-footer a:hover:before {
          background: #037ef3; }
    .site-footer .btn:before {
      display: none; }
    .site-footer .widget {
      margin-bottom: 40px;
      display: block; }
      .site-footer .widget h3, .site-footer .widget .h3 {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: #fff; }
      .site-footer .widget .links {
        width: 150px; }
        .site-footer .widget .links li {
          margin-bottom: 10px; }
    .site-footer .social li {
      display: inline-block; }
      .site-footer .social li a {
        display: inline-block;
        width: 40px;
        height: 40px;
        position: relative;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        color: #fff; }
        .site-footer .social li a:before {
          display: none; }
        .site-footer .social li a > span {
          position: absolute;
          top: 50%;
          left: 50%;
          }
        .site-footer .social li a:hover {
          background: #037ef3;
          color: #fff; }